<div class="row" style="padding-top: 15px;padding-left: 50px;padding-right: 50px;">
    <form> 
        <button class="btn btn-success col-xs-12" ng-click="closeThisDialog('text')" style="margin-bottom: 5px;">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true" style="padding-right: 5px;"></span> Solo Texto </button>
        <button class="btn btn-success col-xs-12" ng-click="closeThisDialog('picture')" style="margin-bottom: 5px;">
            <span class="glyphicon glyphicon-picture" aria-hidden="true" style="padding-right: 5px;"></span>Tomar Foto </button>
        <button class="btn btn-success col-xs-12" ng-click="closeThisDialog('video')" style="margin-bottom: 5px;"> 
            <span class="glyphicon glyphicon-play" aria-hidden="true" style="padding-right: 5px;"></span>Grabar Video</button>
        <button class="btn btn-success col-xs-12" ng-click="closeThisDialog('audio')"> 
            <span class="glyphicon glyphicon-headphones" aria-hidden="true" style="padding-right: 5px;"></span>Grabar Audio </button>
    </form>
</div>