<div class="row">
     <div ng-if="post.type==='video'">
         <video controls> 
            <source src="{{post.path}}" type="video/mp4">
        </video>
    </div>
    <div ng-if="post.type==='picture'">
        <img src="{{post.path}}">
    </div>
    <form style="padding-left: 20px;padding-right: 20px;">
        <div class="form-group">
            <label for="formGroupExampleInput">Título</label>
            <input type="text" ng-model="post.title" class="form-control" id="formGroupExampleInput" placeholder="Título">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">Descripción</label>
            <textarea class="form-control" ng-model="post.description" id="exampleTextarea" rows="3"></textarea>
        </div>
        <button class="col-xs-12 btn btn-dangers" style="margin-bottom: 5px;" ng-click="closeThisDialog(null)"> Cancelar </button>
        <button class="col-xs-12 btn btn-success" ng-click="closeThisDialog(post)"> Publicar </button>
    </form>
</div>