<div ng-include src="'app/common/header.html'"></div>

<div class="container">
    <div ng-show="vm.publications.length == 0" style="margin-top: auto;margin-bottom: auto;text-align: center;"> 
        <img src="img/logoent.png" style="   width: 50%;opacity: 0.5;">
        <div>No hay publicaciones por aquí... publica algo!</div>
        
    </div>
        <div class="chat-panel panel panel-default" ng-show="vm.publications.length > 0">
            <div class="panel-body no-padding">
                <ul class="chat">
                     <li class="left clearfix" ng-repeat="publication in vm.publications track by $index">
                         <div class="col-xs-12 header no-padding" style="padding-right: 0px;">
                             <strong class="primary-font">Marito Bara</strong>
                              <small class="pull-right text-muted">
                                 <i class="fa fa-clock-o fa-fw"></i> 12 mins ago
                             </small>
                         </div>
                         <div ng-if="publication.type!=='text'" class="col-xs-6 chat-img pull-left no-padding">
                             <img ng-if="publication.type==='picture'" class="img-pub no-margin"  src="{{publication.path}}">
                             <div ng-if="publication.type==='video'">
                                 <video controls> 
                                     <source src="{{post.path}}" type="video/mp4">
                                 </video>
                             </div>
                         </div>
                         <div ng-if="publication.type!=='text'" class="col-xs-6 chat-body clearfix no-padding">
                             <div class="col-xs-12" style="margin-top: 10px;">
                                <strong class="primary-font" ng-bind="publication.title"></strong>
                             </div>
                             <div class="col-xs-12" style="font-size: 12px;">
                               {{publication.description}}
                             </div>
                         </div>
                         <div ng-if="publication.type==='text'" class="hat-body clearfix no-padding">
                             <div class="col-xs-12" style="margin-top: 10px;">
                                <strong class="primary-font" ng-bind="publication.title"></strong>
                             </div>
                             <div class="col-xs-12" style="font-size: 12px;">
                               {{publication.description}}
                             </div>
                         </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <a class="btn btn-success float" ng-click="vm.postSomething()">
        <span class="ico glyphicon glyphicon-plus"> </span>
    </a>
</div>

<style>
    .float {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        position: fixed;
        bottom: 10px;
        right: 10px; 
    }
    .ico {
        padding-top: 4px;
        font-size: x-large;
    }

    img {
        width: 100%;
        height: auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    video {
        width: 100%;
        height: auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .panel-default {
        border-color:#FFFFFF;
    }

    .chat-panel .panel-body {
        height: 500px;
        overflow-y: scroll;
    }
    .chat li.left .chat-body {
        margin-left: 0px;
    }

    .no-padding {
        padding: 0px;
    }
    .no-margin {
        margin: 0px;
    }
</style>